* {
  margin: 0px;
  padding: 0px;
}
  
header{
  padding: 3px;
  background: #eeeeee;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  overflow: hidden;
}

main{
  /* padding-top: 13%; */
  height: 50%;
  background-color: #fbfff3;
  overflow: scroll;
}

main table td{
  width: 25%;
  border-bottom: solid 1px #000000;
  cursor: pointer;
}

main table td.col-8{
  width: 75%;
  border-bottom: solid 1px #000000;
  cursor: pointer;
}


.images{
  background-color: #ffffff;
  overflow: scroll;
}

footer{
  width: 100%;
  height: 20%;
  background-color: #eeeeee;
  color: #000000;
  text-align: left;
  padding:10px 0;
  position: fixed;
  bottom: 0;
  overflow: scroll;
}

.csv-table{
  padding-top: 30%;
  height: 50%;
  padding-bottom: 20%;
  overflow: scroll;
}

.manager-logs{
  padding-top: 30%;
  height: 65%;
  overflow: scroll;
}

.shop-setting{
  padding-top: 30%;
  padding-bottom: 20%;
  overflow: scroll;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eeeeee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  /* text-align: center; */
  width: 50%;
  padding: 3px 3px;
}

#gNavi {  
  margin:5px 0;
  padding:0;  
  width:95%;  
  height:30px;  
  overflow:hidden;  
  background:#eeeeee;  
}  
#gNavi li { list-style:none; width:25%; float:left; }  
#gNavi li a {  
  display:block;  
  line-height:30px;  
  color:#000000;  
  text-align:center;  
}  
#gNavi li a:hover { background:rgb(103, 162, 250); }  

#prms {  
  margin:5px 0;
  padding:0;  
  width:95%;  
  height:30px;  
  overflow:hidden;  
  background:#eeeeee;  
}  
#prms li { list-style:none; width:25%; float:left; }  
#prms li a {  
  display:block;  
  line-height:25px;  
  color:#000000;  
  text-align:center;  
}  
#prms li a:hover { background:rgb(103, 162, 250); }  

.prms {
  width: 25%;
}

#prms2 {  
  margin:5px 0;
  padding:0;  
  width:95%;  
  height:30px;  
  overflow:hidden;  
  background:#eeeeee;  
}  
#prms2 li { list-style:none; width:30%; float:left; }  
#prms2 li a {  
  display:block;  
  line-height:25px;  
  color:#000000;  
  text-align:center;  
}  
#prms2 li a:hover { background:rgb(103, 162, 250); }  

.prms2 {
  width: 50%;
}

.prm12{ 
  list-style:none; 
  width:12%; 
  float:left; 
}
#prms3 li { 
  list-style:none; 
  width:20%;
  float:left; 
}


button{
  margin: 2px;
  padding: 2px;
  /* font-size: medium; */
}

/* windowsではスクロールバーの分だけ高さが変わるので非表示にする */
.images::-webkit-scrollbar {
  display:none;
}